.Nav-link-list[b-cdqvfr15gh]
{
    list-style: none;
}

#games-table-main[b-cdqvfr15gh]
{
    all: unset;
    margin: 2em;
}

#games-table-main > thead > tr > th[b-cdqvfr15gh] 
{
    all: unset;
    display: table-cell;
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    background: black;
    padding: 1rem;
}


#games-table-main > tbody[b-cdqvfr15gh]
{
    border: 1rem transparent solid;;
} 

#games-table-main > tbody > tr > td[b-cdqvfr15gh] 
{
    all: unset;
    display: table-cell;
    text-align: center;
    border: 1.3rem transparent solid;;
}

#games-table-main > tbody > tr:nth-child(even)[b-cdqvfr15gh]
{
    background-color: rgb(207, 207, 207);
}